In [155]:
import pandas as pd
from bs4 import BeautifulSoup
import matplotlib as plot
import numpy as np

In [32]:
file = open('country_pages_soups.txt', 'r')

In [33]:
lst = file.read().split('</html>')

In [61]:
lst.remove(lst[len(lst)-1])

In [38]:
soup = BeautifulSoup(lst[0], 'html.parser')

In [46]:
soup.find('table').find(id='places_country__row').find(class_='w2p_fw').contents

['Afghanistan']

In [158]:
nome = []
populacao   = []
area        = []
for page in lst:
    soup = BeautifulSoup(page, 'html.parser')
    n = soup.find('table').find(id='places_country__row').find(class_='w2p_fw').contents
    nome.append(n[0])
    p = soup.find('table').find(id='places_population__row').find(class_='w2p_fw').contents
    populacao.append(p[0].replace(',',''))
    a = soup.find('table').find(id='places_area__row').find(class_='w2p_fw').contents
    area.append(a[0].replace(',','').replace('square kilometres',''))

In [159]:
mundo = {
    'nome': nome,
    'populacao': populacao,
    'area - km²': area
}

In [160]:
df = pd.DataFrame(mundo, columns=['nome', 'area - km²', 'populacao'])
df

                                     nome area - km²  populacao
0                             Afghanistan    647500    29121286
1                           Aland Islands      1580       26711
2                                 Albania     28748     2986952
3                                 Algeria   2381740    34586184
4                          American Samoa       199       57881
5                                 Andorra       468       84000
6                                  Angola   1246700    13068161
7                                Anguilla       102       13254
8                              Antarctica  14000000           0
9                     Antigua and Barbuda       443       86754
10                              Argentina   2766890    41343201
11                                Armenia     29800     2968000
12                                  Aruba       193       71566
13                              Australia   7686850    21515754
14                                Austria     83858     8205000
15                             Azerbaijan     86600     8303512
16                                Bahamas     13940      301790
17                                Bahrain       665      738004
18                             Bangladesh    144000   156118464
19                               Barbados       431      285653
20                                Belarus    207600     9685000
21                                Belgium     30510    10403000
22                                 Belize     22966      314522
23                                  Benin    112620     9056010
24                                Bermuda        53       65365
25                                 Bhutan     47000      699847
26                                Bolivia   1098580     9947418
27      Bonaire, Saint Eustatius and Saba       328       18012
28                 Bosnia and Herzegovina     51129     4590000
29                               Botswana    600370     2029307
..                                    ...        ...        ...
222                            Tajikistan    143100     7487489
223                              Tanzania    945087    41892895
224                              Thailand    514000    67089500
225                                  Togo     56785     6587239
226                               Tokelau        10        1466
227                                 Tonga       748      122580
228                   Trinidad and Tobago      5128     1228691
229                               Tunisia    163610    10589025
230                                Turkey    780580    77804122
231                          Turkmenistan    488100     4940916
232              Turks and Caicos Islands       430       20556
233                                Tuvalu        26       10472
234                   U.S. Virgin Islands       352      108708
235                                Uganda    236040    33398682
236                               Ukraine    603700    45415596
237                  United Arab Emirates     82880     4975593
238                        United Kingdom    244820    62348447
239                         United States   9629091   310232863
240  United States Minor Outlying Islands         0           0
241                               Uruguay    176220     3477000
242                            Uzbekistan    447400    27865738
243                               Vanuatu     12200      221552
244                               Vatican         0         921
245                             Venezuela    912050    27223228
246                               Vietnam    329560    89571130
247                     Wallis and Futuna       274       16025
248                        Western Sahara    266000      273008
249                                 Yemen    527970    23495361
250                                Zambia    752614    13460305
251                              Zimbabwe    390580    11651858

[252 rows x 3 columns]

In [161]:
df.dtypes

nome          object
area - km²    object
populacao     object
dtype: object

In [168]:
df['populacao'] = df['populacao'].astype(np.int64)
df['area - km²'] = df['area - km²'].astype(np.int64)

In [167]:
df.dtypes

nome          object
area - km²     int64
populacao      int64
dtype: object

In [169]:
# Alterando índices
df.index = df['nome']
df

,nome,area - km²,populacao
nome,,,
Afghanistan,Afghanistan,647500,29121286
Aland Islands,Aland Islands,1580,26711
Albania,Albania,28748,2986952
Algeria,Algeria,2381740,34586184
American Samoa,American Samoa,199,57881
Andorra,Andorra,468,84000
Angola,Angola,1246700,13068161
Anguilla,Anguilla,102,13254
Antarctica,Antarctica,14000000,0
Antigua and Barbuda,Antigua and Barbuda,443,86754
Argentina,Argentina,2766890,41343201
Armenia,Armenia,29800,2968000
Aruba,Aruba,193,71566
Australia,Australia,7686850,21515754
Austria,Austria,83858,8205000
Azerbaijan,Azerbaijan,86600,8303512
Bahamas,Bahamas,13940,301790
Bahrain,Bahrain,665,738004
Bangladesh,Bangladesh,144000,156118464
Barbados,Barbados,431,285653
Belarus,Belarus,207600,9685000
Belgium,Belgium,30510,10403000
Belize,Belize,22966,314522
Benin,Benin,112620,9056010
Bermuda,Bermuda,53,65365
Bhutan,Bhutan,47000,699847
Bolivia,Bolivia,1098580,9947418
"Bonaire, Saint Eustatius and Saba","Bonaire, Saint Eustatius and Saba",328,18012
Bosnia and Herzegovina,Bosnia and Herzegovina,51129,4590000
Botswana,Botswana,600370,2029307
...,...,...,...
Tajikistan,Tajikistan,143100,7487489
Tanzania,Tanzania,945087,41892895
Thailand,Thailand,514000,67089500
Togo,Togo,56785,6587239
Tokelau,Tokelau,10,1466
Tonga,Tonga,748,122580
Trinidad and Tobago,Trinidad and Tobago,5128,1228691
Tunisia,Tunisia,163610,10589025
Turkey,Turkey,780580,77804122
Turkmenistan,Turkmenistan,488100,4940916
Turks and Caicos Islands,Turks and Caicos Islands,430,20556
Tuvalu,Tuvalu,26,10472
U.S. Virgin Islands,U.S. Virgin Islands,352,108708
Uganda,Uganda,236040,33398682
Ukraine,Ukraine,603700,45415596
United Arab Emirates,United Arab Emirates,82880,4975593
United Kingdom,United Kingdom,244820,62348447
United States,United States,9629091,310232863
United States Minor Outlying Islands,United States Minor Outlying Islands,0,0
Uruguay,Uruguay,176220,3477000
Uzbekistan,Uzbekistan,447400,27865738
Vanuatu,Vanuatu,12200,221552
Vatican,Vatican,0,921
Venezuela,Venezuela,912050,27223228
Vietnam,Vietnam,329560,89571130
Wallis and Futuna,Wallis and Futuna,274,16025
Western Sahara,Western Sahara,266000,273008
Yemen,Yemen,527970,23495361
Zambia,Zambia,752614,13460305
Zimbabwe,Zimbabwe,390580,11651858

In [170]:
# Apagando colunas duplicadas
del df['nome']
df

                                      area - km²  populacao
nome
Afghanistan                               647500   29121286
Aland Islands                               1580      26711
Albania                                    28748    2986952
Algeria                                  2381740   34586184
American Samoa                               199      57881
Andorra                                      468      84000
Angola                                   1246700   13068161
Anguilla                                     102      13254
Antarctica                              14000000          0
Antigua and Barbuda                          443      86754
Argentina                                2766890   41343201
Armenia                                    29800    2968000
Aruba                                        193      71566
Australia                                7686850   21515754
Austria                                    83858    8205000
Azerbaijan                                 86600    8303512
Bahamas                                    13940     301790
Bahrain                                      665     738004
Bangladesh                                144000  156118464
Barbados                                     431     285653
Belarus                                   207600    9685000
Belgium                                    30510   10403000
Belize                                     22966     314522
Benin                                     112620    9056010
Bermuda                                       53      65365
Bhutan                                     47000     699847
Bolivia                                  1098580    9947418
Bonaire, Saint Eustatius and Saba            328      18012
Bosnia and Herzegovina                     51129    4590000
Botswana                                  600370    2029307
...                                          ...        ...
Tajikistan                                143100    7487489
Tanzania                                  945087   41892895
Thailand                                  514000   67089500
Togo                                       56785    6587239
Tokelau                                       10       1466
Tonga                                        748     122580
Trinidad and Tobago                         5128    1228691
Tunisia                                   163610   10589025
Turkey                                    780580   77804122
Turkmenistan                              488100    4940916
Turks and Caicos Islands                     430      20556
Tuvalu                                        26      10472
U.S. Virgin Islands                          352     108708
Uganda                                    236040   33398682
Ukraine                                   603700   45415596
United Arab Emirates                       82880    4975593
United Kingdom                            244820   62348447
United States                            9629091  310232863
United States Minor Outlying Islands           0          0
Uruguay                                   176220    3477000
Uzbekistan                                447400   27865738
Vanuatu                                    12200     221552
Vatican                                        0        921
Venezuela                                 912050   27223228
Vietnam                                   329560   89571130
Wallis and Futuna                            274      16025
Western Sahara                            266000     273008
Yemen                                     527970   23495361
Zambia                                    752614   13460305
Zimbabwe                                  390580   11651858

[252 rows x 2 columns]

In [197]:
df.describe()

         area - km²     populacao
count  2.520000e+02  2.520000e+02
mean   5.952879e+05  2.725746e+07
std    1.904818e+06  1.164110e+08
min    0.000000e+00  0.000000e+00
25%    1.098000e+03  1.720865e+05
50%    6.489450e+04  4.288138e+06
75%    3.622245e+05  1.536688e+07
max    1.710000e+07  1.330044e+09

In [172]:
# Criando uma nova coluna pegando os dados de duas colunas distintas
df['densidade demografica'] = df['populacao'] / df['area - km²']

In [174]:
df

,area - km²,populacao,densidade demografica
nome,,,
Afghanistan,647500,29121286,44.974959
Aland Islands,1580,26711,16.905696
Albania,28748,2986952,103.901211
Algeria,2381740,34586184,14.521394
American Samoa,199,57881,290.859296
Andorra,468,84000,179.487179
Angola,1246700,13068161,10.482202
Anguilla,102,13254,129.941176
Antarctica,14000000,0,0.000000
Antigua and Barbuda,443,86754,195.832957
Argentina,2766890,41343201,14.942119
Armenia,29800,2968000,99.597315
Aruba,193,71566,370.808290
Australia,7686850,21515754,2.799034
Austria,83858,8205000,97.843974
Azerbaijan,86600,8303512,95.883510
Bahamas,13940,301790,21.649211
Bahrain,665,738004,1109.780451
Bangladesh,144000,156118464,1084.156000
Barbados,431,285653,662.767981
Belarus,207600,9685000,46.652216
Belgium,30510,10403000,340.970174
Belize,22966,314522,13.695115
Benin,112620,9056010,80.412094
Bermuda,53,65365,1233.301887
Bhutan,47000,699847,14.890362
Bolivia,1098580,9947418,9.054796
"Bonaire, Saint Eustatius and Saba",328,18012,54.914634
Bosnia and Herzegovina,51129,4590000,89.772927
Botswana,600370,2029307,3.380094
...,...,...,...
Tajikistan,143100,7487489,52.323473
Tanzania,945087,41892895,44.327025
Thailand,514000,67089500,130.524319
Togo,56785,6587239,116.003152
Tokelau,10,1466,146.600000
Tonga,748,122580,163.877005
Trinidad and Tobago,5128,1228691,239.604329
Tunisia,163610,10589025,64.721136
Turkey,780580,77804122,99.674757
Turkmenistan,488100,4940916,10.122754
Turks and Caicos Islands,430,20556,47.804651
Tuvalu,26,10472,402.769231
U.S. Virgin Islands,352,108708,308.829545
Uganda,236040,33398682,141.495857
Ukraine,603700,45415596,75.228749
United Arab Emirates,82880,4975593,60.033699
United Kingdom,244820,62348447,254.670562
United States,9629091,310232863,32.218292
United States Minor Outlying Islands,0,0,NaN
Uruguay,176220,3477000,19.731018
Uzbekistan,447400,27865738,62.283724
Vanuatu,12200,221552,18.160000
Vatican,0,921,inf
Venezuela,912050,27223228,29.848394
Vietnam,329560,89571130,271.790053
Wallis and Futuna,274,16025,58.485401
Western Sahara,266000,273008,1.026346
Yemen,527970,23495361,44.501318
Zambia,752614,13460305,17.884739
Zimbabwe,390580,11651858,29.832193

In [196]:
# Tratando valores nulos
df.fillna('-', inplace=True)
df

,area - km²,populacao,densidade demografica
nome,,,
Afghanistan,647500,29121286,44.975
Aland Islands,1580,26711,16.9057
Albania,28748,2986952,103.901
Algeria,2381740,34586184,14.5214
American Samoa,199,57881,290.859
Andorra,468,84000,179.487
Angola,1246700,13068161,10.4822
Anguilla,102,13254,129.941
Antarctica,14000000,0,0
Antigua and Barbuda,443,86754,195.833
Argentina,2766890,41343201,14.9421
Armenia,29800,2968000,99.5973
Aruba,193,71566,370.808
Australia,7686850,21515754,2.79903
Austria,83858,8205000,97.844
Azerbaijan,86600,8303512,95.8835
Bahamas,13940,301790,21.6492
Bahrain,665,738004,1109.78
Bangladesh,144000,156118464,1084.16
Barbados,431,285653,662.768
Belarus,207600,9685000,46.6522
Belgium,30510,10403000,340.97
Belize,22966,314522,13.6951
Benin,112620,9056010,80.4121
Bermuda,53,65365,1233.3
Bhutan,47000,699847,14.8904
Bolivia,1098580,9947418,9.0548
"Bonaire, Saint Eustatius and Saba",328,18012,54.9146
Bosnia and Herzegovina,51129,4590000,89.7729
Botswana,600370,2029307,3.38009
...,...,...,...
Tajikistan,143100,7487489,52.3235
Tanzania,945087,41892895,44.327
Thailand,514000,67089500,130.524
Togo,56785,6587239,116.003
Tokelau,10,1466,146.6
Tonga,748,122580,163.877
Trinidad and Tobago,5128,1228691,239.604
Tunisia,163610,10589025,64.7211
Turkey,780580,77804122,99.6748
Turkmenistan,488100,4940916,10.1228
Turks and Caicos Islands,430,20556,47.8047
Tuvalu,26,10472,402.769
U.S. Virgin Islands,352,108708,308.83
Uganda,236040,33398682,141.496
Ukraine,603700,45415596,75.2287
United Arab Emirates,82880,4975593,60.0337
United Kingdom,244820,62348447,254.671
United States,9629091,310232863,32.2183
United States Minor Outlying Islands,0,0,-
Uruguay,176220,3477000,19.731
Uzbekistan,447400,27865738,62.2837
Vanuatu,12200,221552,18.16
Vatican,0,921,inf
Venezuela,912050,27223228,29.8484
Vietnam,329560,89571130,271.79
Wallis and Futuna,274,16025,58.4854
Western Sahara,266000,273008,1.02635
Yemen,527970,23495361,44.5013
Zambia,752614,13460305,17.8847
Zimbabwe,390580,11651858,29.8322

In [175]:
writer = pd.ExcelWriter('dados.xlsx')
df.to_excel(writer, 'Sheet1', float_format='%.3f')

In [185]:
writer.save()

In [193]:
populacao = df['populacao'].values.sum()
area      = df['area - km²'].values.sum()
densidade = populacao / area
print('A densidade populacional total é de %d hab / km²'%(densidade))

A densidade populacional total é de 45 hab / km²